<form action="#" onsubmit="submitSearch(event);" class="input-group">
    <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
    <input id="member-search" type="text" class="form-control" placeholder="{{ _("Search for a member...") }}" value="{% if query %}{{ query }}{% endif %}" />
</form>
<br/>
<div class="d-flex justify-content-between">
    <h5 class="me-auto">{{ total|markdown }}</h5>
    {% if position_url %}
        <a href="{{ position_url }}" class="btn bg-gradient-{{ variables["meta"]["color"] }}" style="margin-left: 5px;">
            Go to my position
        </a>
    {% endif %}
</div>
<div id="members-container" class="table-responsive p-0">
    <table class="table align-items-center mb-0">
        <thead>
            <tr>
                <td class="medium"><b>#</b></td>
                <td class="large"><b>Name:</b></th>
                <td class="medium"><b>Votes:</b></td>
            </tr>
        </thead>
        <tbody>
            {% for member in members %}
                <tr {% if member.id == current_user.id %} class="text-{{ variables['meta']['color'] }}"{% endif %}>
                    <td class="medium">{{ member.position }}</td>
                    <td class="large" title="{{ user.id }}">{{ member.display_name }}</td>
                    <td class="medium">{{ member.votes }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    function submitSearch(event) {
        event.preventDefault();
        let input = document.getElementById("member-search");
        let query = input.value.trim();
        if (query) {
            window.location.href = '{{ url_for_query(query="QUERY") }}'.replace("QUERY", encodeURIComponent(query));
        } else {
            window.location.href = "{{ url_for_query(query=None) }}";
        }
    }
</script>
